<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>Users</h1>
    </header>
    <table id="users">
        <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {% for user in all_users: %}
        <tr>
            <td>{{user['id']}}</td>
            <td>{{user['first_name']}} {{user['last_name']}}</td>
            <td>{{user['created_at']}}</td>
            <td><a href="http://localhost:5000/users/{{user['id']}}" target="_self">Show</a> <a href="http://localhost:5000/users/{{user['id']}}/edit">Edit</a> <a href="http://localhost:5000/users/{{user['id']}}/destroy">Delete</a> </td>
        </tr>
        {% endfor %}
</body>